<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Market App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
<div class="container">
    <h1>Top Stocks by Average Closing Price</h1>
    <ul class="list-group">
        {% for stock in top_stocks %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <strong>{{ stock[0] }}</strong> - Average Close: ${{ '%.2f' | format(stock[1]) }}
                </div>
                <a href="{{ url_for('stock_detail', stock_name=stock[0]) }}" class="btn btn-primary btn-sm">View Details</a>
            </li>
        {% endfor %}
    </ul>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
